.bg-4 {
    background-color: #0097a7;
    bottom: 0;
    color: black;
    height: 70px;
    position: absolute;
    width: 100%;    
}

.color-url {
    text-decoration: none;
    color: black;
}

.color-url:hover {
    color: white;
}